html, body {width: auto!important; overflow-x: hidden!important}

.jumbotron {
    background-image: url("../images/eyoel-kahssay-FyCjvyPG9Pg-unsplash.jpeg");
    background-size: cover;
  }
  .btn-primary {
    color: #fff;
    background-color: #3d6c87;
    border-color: #3d6c87;
  }
.title {
   color:#3d6c87;
}